<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304342222666-dlrhpc3hvranp15q1s14o03vbj3f3bto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304342222666-dlrhpc3hvranp15q1s14o03vbj3f3bto</string>
	<key>API_KEY</key>
	<string>AIzaSyAzLvoSYvwugxl3Wo7GOCsCYXn-GX6zRk4</string>
	<key>GCM_SENDER_ID</key>
	<string>304342222666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gorkemtoprak.FirstApp.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>swiftchat-d91e8</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftchat-d91e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304342222666:ios:8971d0146f65415fe8a3b3</string>
</dict>
</plist>